<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @capital.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @capital.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @capital.category_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @capital.note %>
</p>

<%= link_to 'Edit', edit_capital_path(@capital) %> |
<%= link_to 'Back', capitals_path %>
