<%= link_to 'New Category', new_expense_category_path, class: "btn btn-success" %>
<table class="table table-striped mt-3">
  <thead class="text-white bg-secondary">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_categories.each do |expense_category| %>
      <tr>
        <td><%= expense_category.name %></td>
        <td>
          <%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, expense_category, data: { toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.permission") %>
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_expense_category_path(expense_category) %>
          <% if expense_category.incomes.count > 0 || expense_category.expenses.count > 0 %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, "javascript:void(0)", class: "icon_disabled" %>
          <% else %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, expense_category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @expense_categories.count < 1 %>
      <tr>
        <td colspan="2" style="text-align: center;">Empty Datas</td>
      </tr>
    <% end %>
  </tbody>
</table>
