<%= render 'index_header' %>
<div class="table-responsive">
  <table class="table table-striped mt-3">
    <thead class="text-white bg-secondary">
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th class="text-right">Amount</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @debt_capitals.each do |debt_capital| %>
        <tr>
          <td><%= debt_capital.date.strftime("%d-%m-%Y") %></td>
          <td><%= debt_capital.category.name %></td>
          <td class="text-right"><%= debt_capital.amount %></td>
          <td><%= debt_capital.note %></td>
          <td>
            <%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, debt_capital, data: { toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.detail") %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_debt_capital_path(debt_capital), data: { toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.edit") %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, debt_capital, method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.delete") %>
          </td>
        </tr>
      <% end %>
      <% if @debt_capitals.count < 1 %>
        <tr>
          <td colspan="5" class="text-center">Empty Datas</td>
        </tr>
      <% else %>
        <tr class="bg-secondary text-white">
          <td colspan="2" class="text-center">Total Amount</td>
          <td class="text-right"><%= @debt_capitals.map(&:amount).sum %></td>
          <td colspan="2"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
