<table class="show-table mb-3">
  <tr>
    <th>Date:</th>
    <td><%= @sale_list.date %></td>
  </tr>
  <tr>
    <th>Customer Name:</th>
    <td><%= @sale_list.customer.name %></td>
  </tr>
  <tr>
    <th>Product Names:</th>
    <td><%= business_type_name(@sale_list.id) %></td>
  </tr>
  <tr>
    <th>Totle Price:</th>
    <td><%= business_type_total_price(@sale_list.id) %></td>
  </tr>
  <tr>
    <th>Payment:</th>
    <td><%= @sale_list.first_payment %></td>
  </tr>
  <tr>
    <th>Remain Price:</th>
    <td><%= business_type_total_price(@sale_list.id) - @sale_list.first_payment %></td>
  </tr>
  <tr>
    <th>Note:</th>
    <td><%= @sale_list.note %></td>
  </tr>
</table>
<div class="row mb-3">
  <div class="col-12 mb-3">
    <%= link_to 'Add Image', add_images_sale_list_path(@sale_list), class: "btn btn-outline-info" %>
  </div>
  <% if @sale_list.avatars.attached? %>
    <div class="col-12">
      <h4><u>Images</u></h3>
    </div>
    <% @sale_list.avatars.each do |image| %>
      <div class="col-md-3 col-lg-2 image-box">
        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, delete_image_attachment_sale_list_url([@sale_list,image]), method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.delete") %>
        <%= image_tag image, width: "100%" %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_sale_list_path(@sale_list), class: "btn btn-info" %>
<%= link_to 'Back', sale_lists_path, class: "btn btn-secondary" %>