<%= render 'index_header' %>
<table class="table table-striped mt-3">
  <thead class="text-white bg-secondary">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Payment mode</th>
      <th>Note</th>
      <th class="text-right">Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.date.strftime("%d-%m-%y %I:%M%P") %></td>
        <td><%= income.expense_category.name %></td>
        <td><%= income.payment_mode.name %></td>
        <td><%= income.note %></td>
        <td class="text-right"><%= income.amount %></td>
        <td>
          <%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, income, data: { toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.permission") %>
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_income_path(income) %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, income, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <% if @incomes.count < 1 %>
      <tr>
        <td colspan="6" class="text-center">Empty Datas</td>
      </tr>
    <% else %>
      <tr class="bg-secondary text-white">
        <td colspan="4" class="text-center">Total Amount</td>
        <td class="text-right"><%= @incomes.map(&:amount).sum %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
