<%= link_to 'New role', new_role_path, class: "btn btn-success" %>

<table class="table table-striped mt-3">
  <thead class="text-white bg-secondary">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td>
          <%= link_to '<i class="fas fa-key"></i>'.html_safe, roles_path, data: { toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.permission") %>
          <%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, role, data: { toggle: 'tooltip', placement: 'bottom' }, title: t("action_button.permission") %>
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_role_path(role) %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, role, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
