<table class="mb-3 show-table">
  <tr>
    <th>Name:</th>
    <td><%= @category.name %></td>
  </tr>
  <tr>
    <th>Show in sale:</th>
    <td><%= @category.show_sale ? '<i class="fas fa-check-circle text-success"></i>'.html_safe : '<i class="fas fa-times-circle text-danger"></i>'.html_safe %></td>
  </tr>
  <tr>
    <th>Show in report:</th>
    <td><%= @category.show_report ? '<i class="fas fa-check-circle text-success"></i>'.html_safe : '<i class="fas fa-times-circle text-danger"></i>'.html_safe %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_category_path(@category), class: "btn btn-info" %>
<%= link_to 'Back', categories_path, class: "btn btn-secondary" %>
