  <%= render 'index_header' %>
  <table class="table table-striped mt-3">
    <thead class="text-white bg-secondary">
      <tr>
        <th><%= t 'report.index.category' %></th>
        <th><%= t 'report.index.product' %></th>
        <th class="text-right"><%= t 'report.index.qty' %> x</th>
        <th class="text-right"><%= t 'report.index.purchase_price' %></th>
        <th class="text-right"><%= t 'report.index.sold_out_qty' %> x</th>
        <th class="text-right"><%= t 'report.index.sale_price' %> =</th>
        <th class="text-right"><%= t 'report.index.sold_out_price' %></th>
      </tr>
    </thead>

    <tbody>
      <%
        @total_purchase_price = 0
        @total_sould_out_price = 0
      %>
      <% @sale_products.each do |sale_product| %>
        <tr>
          <td><%= sale_product.business_type.category.name %></td>
          <td><%= sale_product.business_type.name %></td>
          <td class="text-right"><%= sale_product.business_type.quantity %></td>
          <td class="text-right"><%= sale_product.business_type.purchase_price %></td>
          <td class="text-right"><%= sould_out_quantity(sale_product.business_type_id) %></td>
          <td class="text-right"><%= sale_product.business_type.sale_price %></td>
          <td class="text-right"><%= sale_product.business_type.sale_price * sould_out_quantity(sale_product.business_type_id) %></td>
        </tr>

        <%
          @total_purchase_price += sale_product.business_type.quantity * sale_product.business_type.purchase_price
          @total_sould_out_price += sale_product.business_type.sale_price * sould_out_quantity(sale_product.business_type_id)
        %>
      <% end %>
      <% if @sale_products.count < 1 %>
        <tr>
          <td colspan="7" class="text-center">Empty Datas</td>
        </tr>
      <% else %>
        <tr class="bg-secondary text-white">
          <td colspan="2" class="text-center"><%= t 'report.index.total_price' %></td>
          <td colspan="2" class="text-right"><%= @total_purchase_price %></td>
          <td colspan="3" class="text-right"><%= @total_sould_out_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
