<div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill " id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="tab-all" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All</a>
                <% @categories.each do |category| %>
                    <a class="nav-item nav-link" id="tab<%= category.id %>" data-toggle="tab" href="#nav<%= category.id %>" role="tab" aria-controls="nav<%= category.id %>" aria-selected="false"><%= category.name %></a>
                <% end %>
            </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="tab-all">
                <%
                    @sold_out_amount_debt = sold_out_price - sold_out_price_cash
                    @profit = sold_out_price - (sould_out_capital + general_expense)
                    @remain_capital = (initial_capital + sold_out_price_cash) - (using_capital + general_expense + @sold_out_amount_debt)
                %>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-5">
                        <table class="show-table">
                            <h4><u><%= t 'report.index.capital' %></u></h4>
                            <tr>
                                <th><%= t 'report.index.initial_capital' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(initial_capital) %></td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.sold_out_amount_cash' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(sold_out_price_cash) %></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">+</td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.using_capital' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(using_capital) %></td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.general_expense' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(general_expense) %></td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.sold_out_amount_debt' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(@sold_out_amount_debt) %></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">-</td>
                            </tr>
                            <tr class="bg-secondary text-white">
                                <th><%= t 'report.index.remain_capital' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(@remain_capital) %></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-5">
                        <table class="show-table">
                            <h4><u><%= t 'report.index.sold_out_amount' %></u></h4>
                            <tr>
                                <th><%= t 'report.index.sold_out_amount_cash' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(sold_out_price_cash) %></td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.sold_out_amount_debt' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(@sold_out_amount_debt) %></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">+</td>
                            </tr>
                            <tr class="bg-secondary text-white">
                                <th><%= t 'report.index.total' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(sold_out_price) %></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-5">
                        <table class="show-table">
                            <h4><u><%= t 'report.index.profit' %></u></h4>
                            <tr>
                                <th><%= t 'report.index.sold_out_amount' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(sold_out_price) %></td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.sold_out_capital' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(sould_out_capital) %></td>
                            </tr>
                            <tr>
                                <th><%= t 'report.index.general_expense' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(general_expense) %></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">-</td>
                            </tr>
                            <tr class="bg-secondary text-white">
                                <th><%= t 'report.index.total_profit' %>:</th>
                                <td class="text-right"><%= number_with_precision_format(@profit) %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <% @categories.each do |category| %>
                <%
                    @profit = sold_out_price_with_category(category) - (sould_out_capital_with_category(category) + general_expense_with_category(category))
                    @sold_out_amount_debt = sold_out_price_with_category(category) - sold_out_price_cash_with_category(category)
                    @remain_capital = (initial_capital_with_category(category) + sold_out_price_cash_with_category(category)) - (using_capital_with_category(category) + general_expense_with_category(category) + @sold_out_amount_debt)
                %>
                <div class="tab-pane fade" id="nav<%= category.id %>" role="tabpanel" aria-labelledby="tab<%= category.id %>">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-5">
                            <table class="show-table">
                                <h4><u><%= t 'report.index.capital' %></u></h4>
                                <tr>
                                    <th><%= t 'report.index.initial_capital' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(initial_capital_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.sold_out_amount_cash' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(sold_out_price_cash_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">+</td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.using_capital' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(using_capital_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.general_expense' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(general_expense_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.sold_out_amount_debt' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(@sold_out_amount_debt) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">-</td>
                                </tr>
                                <tr class="bg-secondary text-white">
                                    <th><%= t 'report.index.remain_capital' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(@remain_capital) %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-5">
                            <table class="show-table">
                                <h4><u><%= t 'report.index.sold_out_amount' %></u></h4>
                                <tr>
                                    <th><%= t 'report.index.sold_out_amount_cash' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(sold_out_price_cash_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.sold_out_amount_debt' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(@sold_out_amount_debt) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">+</td>
                                </tr>
                                <tr class="bg-secondary text-white">
                                    <th><%= t 'report.index.total' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(sold_out_price_with_category(category)) %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-5">
                            <table class="show-table">
                                <h4><u><%= t 'report.index.profit' %></u></h4>
                                <tr>
                                    <th><%= t 'report.index.sold_out_amount' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(sold_out_price_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.sold_out_capital' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(sould_out_capital_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <th><%= t 'report.index.general_expense' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(general_expense_with_category(category)) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">-</td>
                                </tr>
                                <tr class="bg-secondary text-white">
                                    <th><%= t 'report.index.total_profit' %>:</th>
                                    <td class="text-right"><%= number_with_precision_format(@profit) %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
