<div id="sidebar-wrapper" style="background: #4183d7;">
    <div id="sidebar-image">
        <a href="acc"><%= image_tag("my_logo.png", :alt => "rss feed") %></a>
    </div>
    <hr class="image-underline"></hr>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="<%= request.path == root_path ? 'open active' : '' %>">
                <%= link_to root_path, id: "main-menu" do %>
                    <i class="fas fa-home"></i>
                    <%= t("menu.admin.home") %>
                <% end %>
            </li>
            <%= site_setting_links %>
            <%= page_setting_links %>
        </ul>
    </nav>
</div>