<div id="sidebar-wrapper" style="background: <%= current_user.theme.color %>;">
    <div id="sidebar-image">
        <%= link_to root_path do %>
            <%= image_tag("my_logo.png", :alt => "rss feed") %></a>
        <% end %>
    </div>
    <hr class="image-underline"></hr>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="<%= request.path == root_path ? 'open active' : '' %>">
                <%= link_to root_path, id: "main-menu" do %>
                    <i class="fas fa-home"></i>
                    <%= t("main_sidebar.home") %>
                <% end %>
            </li>
            <li class="<%= request.path == reports_path ? 'open active' : '' %>">
                <%= link_to reports_path, id: "main-menu" do %>
                    <i class="fas fa-chart-line"></i>
                    <%= t("main_sidebar.report") %>
                <% end %>
            </li>
            <%= user_management_links %>
            <%= business_links %>
            <%= site_setting_links %>
            <%= page_setting_links %>
        </ul>
    </nav>
</div>